# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules (for both client and server)
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
client/dist/
server/dist/
dist-ssr
*.local

# repomix and evaluation files
server/output/*

# Environment variables
.env.*
client/.env.*
client/.env
client/.env.vault
server/.env.*
server/.env
server/.env.vault


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log

# System files
.DS_Store

# temp-repo
temp-repo/